<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Collegepapers"
        tools:targetApi="31">
        <activity
            android:name=".bcasemester2nd.finalsemester.DetailsBcafinal"
            android:exported="false" />
        <activity
            android:name=".bcasemester2nd.Detailsbca3ndyaer"
            android:exported="false" />
        <activity
            android:name=".bcasemester2nd.finalsemester.finalsemseterbca"
            android:exported="false" />
        <activity
            android:name=".lucknowUniversity.couseluck.Bacourse"
            android:exported="false" />
        <activity
            android:name=".lucknowUniversity.lucknowlanding"
            android:exported="false" />
        <activity
            android:name=".bcasemester2nd.thiryearbca"
            android:exported="false" />
        <activity
            android:name=".bcasemester2nd.Ddubcamainactivity"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".bcapaperhere"
            android:exported="false" />
        <activity
            android:name=".DashBoardbca"
            android:exported="false" />
        <activity
            android:name=".ScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/Theme.Collegepapers.NoActionBar" />
        <activity
            android:name=".seme"
            android:exported="false" />
        <activity
            android:name=".semsester"
            android:exported="false" />
        <activity
            android:name=".soonactivitylanding"
            android:exported="false" />
        <activity
            android:name=".luuniversitylanding"
            android:exported="false" />
        <activity
            android:name=".dducollegeactivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>